#grid-wrapper {
    position: relative;
    height: 90vh;
}

#grid {
    display: grid;
    height: 100%;
    width: 100%;
}

#grid > div {
    background-color: white;
    text-align: center;
}

#visual-selection-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.display-none {
    display: none;
}

.border-black {
    border: 1px solid black;
}

.selection-border-left {
    border-left: 5px solid red;
}

.selection-border-right {
    border-right: 5px solid red;
}

.selection-border-top {
    border-top: 5px solid red;
}

.selection-border-bottom {
    border-bottom: 5px solid red;
}
